body {
  background-color: rgb(27, 44, 77);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: rgb(54, 95, 150);
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: double;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}

#walkerP2 {
  background-color: rgb(116, 27, 27);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 388px;
  top: 388px;
  border-style: double;
  border-radius: 50%;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}