body {
    background: url("../img/just-for-the-funny.png") no-repeat center center fixed;
    background-color: #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}