
body {
  background-color: rgb(27, 44, 77);
}

#board {
  width: 880px;
  height: 880px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(21, 117, 21);
  z-index: 2;
}

#snake-head {
  background-color: rgb(21, 117, 21);
}

.apple {
  background-color: rgb(196, 27, 27);
  z-index: 1;
}